/* -------------------------------------------------------------------------- */
/* ---------------------------------- RESET --------------------------------- */
/* -------------------------------------------------------------------------- */

body {
    overflow-x: hidden;
    background: var(--body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
}

li {
    font-weight: 300;
}

img {
    max-width: 100%;
}



/* -------------------------------------------------------------------------- */
/* ---------------------------- ARGON OVERRIDE ------------------------------ */
/* -------------------------------------------------------------------------- */

.card {
    overflow: hidden;
    border: 0;
    box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
}

.d-flex {
    width: 100% !important;
}

.lead {
    margin-top: 0;
}

/* -------------------------------------------------------------------------- */
/* ---------------------------- CUSTOM CLASSES ------------------------------ */
/* -------------------------------------------------------------------------- */

.text-shadow {
    text-shadow: 0 0 2rem rgba(0, 0, 0, 0.4), 0 1px 0.5rem rgba(0, 0, 0, 0.5)
}

.text-light
{
    color: var(--light) !important;
}

.rounded-2 {
    border-radius: 0.5rem !important;
}
.rounded-3 {
    border-radius: 1rem !important;
}
.rounded-4 {
    border-radius: 2rem !important;
}

.parallax {

}

.banner {
    background-size: 100vw;
}

.quotes {
    width: 1rem;
    transform: translateY(-0.5rem);
    margin-right: 0.5rem;
}

.text-no-wrap {
    white-space: nowrap
}

.fade-bottom {
    position: relative
}
.fade-bottom::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 200px;
    width: 100%;
    background-image: linear-gradient(transparent,var(--secondary) 40%);
}
.fade-bottom .btn-fade {
    position: relative;
    margin-top: -40px;
    z-index: 1;
}

.fade-right::after {
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    width: 33%;
    background-image: linear-gradient(to left, white 0.5rem, transparent);
}
.fade-left::before {
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 33%;
    background-image: linear-gradient(to right, white 0.5rem, transparent);
}

/* .carrousel-container {
    flex-wrap: nowrap;
    position: relative;
    overflow: hidden;
}

.carrousel-item {
    padding-left: 1rem;
    padding-right: 1rem;
}

.carrousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carrousel-nav.prev {
    left: 0.5rem;
}
.carrousel-nav.next {
    right: 0.5rem;
} */