.nav-logo {
    position: absolute;
    left: 0;
    height: 100%;
}
.nav-logo img {
    max-height: 100%;
}

.navbar-nav .nav-link {
    border-radius: 0;
    color: var(--lighter);
}
.navbar-nav .nav-link.active {
    background-color: var(--primary-dark);
    position: relative;
    color: var(--white);
}
.navbar-nav .nav-link.active::after {
    content: "";
    position: absolute;
    height: 0.25rem;
    width: 100%;
    left: 0;
    bottom: 0;
    border-bottom: 0.25rem solid var(--warning);
}

.input-group-with-button button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group-with-button button {
    padding-top: 0;
    padding-bottom: 0;
}
header .form-control,
header .input-group-text {
    height: auto;
    background-color: var(--primary-dark) !important;
    color: var(--lighter) !important;
}
header .focused .form-control,
header .focused .input-group-text {
    color: white !important;
}

.nav-user {
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
}