/* .navbar-nav .nav-link {
    border-radius: 0;
    color: var(--lighter);
}
.navbar-nav .nav-link.active {
    background-color: var(--primary-dark);
    position: relative;
    color: var(--white);
}
.navbar-nav .nav-link.active::after {
    content: "";
    position: absolute;
    height: 0.25rem;
    width: 100%;
    left: 0;
    bottom: 0;
    border-bottom: 0.25rem solid var(--warning);
} */

.menu {
    
}

.menu-item {
    display: block;
    position: relative;
    color: var(--lighter);
    height: 3rem;
    line-height: 3rem;
}